<h1 class="px-8 pt-8 text-lg text-gray-700 font-bold dark:bg-gray-700 dark:text-gray-400">Editing Listing</h1>

<%= render 'form', listing: @listing %>

<div class="px-8 pt-5 text-gray-700">
  <%= link_to 'Show', @listing %> |
  <%= link_to 'Back', listings_path %>
</div>