<div class="grid place-content-center my-60">
  <div class="border-box p-10 border-2 rounded-md w-full text-center shadow-md">
    <h1 class="text-7xl text-indigo-500 pb-5">Welcome to Makeup Zoo</h1>
    <h2 class="text-3xl text-gray-700">Browse a variety of makeup listings from small Aussie businesses</h2>
  </div>
</div>

